[submodule "site/themes/zenware"]
	path = site/themes/zenware
	url = https://github.com/zenware/gohugo-theme-zenware.git
[submodule "site/themes/ananke"]
	path = site/themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
